<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Team The SQL Spies' Website</title>
  <title>Team The SQL Spies Website</title>
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/event.css" />
</head>
<body>
  <div class="container">
  <div>
      <h1>Welcome to The SQL Spies Application!</h1>
      <div class="creators">
        <h2 class="creator">Zac Monroe</h2>     
        <h2 class="creator">Sean Williams</h2>
        <h2 class="creator">Ben Bailey</h2>
        <h2 class="creator">Alex Vue</h2> 
        <h2 class="creator">Omar Hassan</h2>
      </div>
    {{{body}}}
</div>
<div>
  <h2>Add an event</h2>
    <form action="/event" method="post">
       title: <input name="Debriefing" type="text" /> <br />
       description: <input name="description" type="text" /> <br />
       <br />
        <input type="submit" name="submit" value="submit" />
    </form>
  </div>
</body>
</html>
