<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Team The SQL Spies' Website</title>
  <title>Team The SQL Spies Website</title>
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
</head>
<body>
  <div class="container">
      <h1>Welcome to The SQL Spies' application</h1>
      <h2>This is a change made for github!</h2>
  <div>
      <h1>Welcome to The SQL Spies application</h1>
      <h2>Zac Monroe</h2>
      <h2>Sean Williams</h2>
      <h2>Ben Bailey</h2>
    {{{body}}}
</div>
<div>
  <h2>Add an event</h2>
    <form action="/event" method="post">
       title: <input name="Debriefing" type="text" /> <br />
       description: <input name="description" type="text" /> <br />
       <br />
        <input type="submit" name="submit" value="submit" />
    </form>
  </div>
</body>
</html>
