<div class="row">
    {{#events}}
    <div class="col">
        <div class="event">
            <h2 class="event-title">{{ title }}</h2>
            <p class="event-desc">{{ description }}</p>
        </div>
    </div>
    {{/events}}
</div>