<ul >
  {{#events}}
    <li>
        <h2 class="event-title">{{ title }}</h2>
        <p class="event-desc">{{ description }}</p>
        <form action="/event" method="delete">
            <input type="text" name="idToDelete" value={{ id }} hidden />
            <input type="submit" name="submit" value="submit" />
        </form>
    </li>
  {{/events}}
</ul>
